body {

   
  font-family: sans-serif;
  background: #b9b3a9;
  display: flex;
  flex-direction:column;
  justify-content: center;
  background-image: url("moon.jpg" );width:1000px;
 height: 500px;
  background-position: center;

}

.containergs {
  width: 450px;
  padding: 20px;
  margin-top: 80px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

h1 {
  text-align: center;
 text-transform:uppercase;
   color:#0F52BA;
      font-family:algerian;
font-size:74px;
      }

.question {
  font-weight: bold;
  margin-bottom: 10px;
  font-family:serif;
font-size:135%;
}

.options {
  margin-bottom: 20px;
color:#1434A4;
font-family:sans-serif;
 text-align:left;
}

.option {
  display: block;
  margin-bottom: 10px;

}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #428bca;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 20px;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin-right: 33px;
width:215px;
}

.button:hover {
  background-color: #3071a9;
}

.result {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}

.hide{
  display: none;
}